version: '3.0'
services:
  tagfetch:
    build:
       context: ./gsheet-tagfetch
       args:
           - http_proxy
           - https_proxy
    volumes: 
      - ${DATA_DIR}/config/gsheet-privatekey.json:/app/privatekey.json
    environment:
      - SPREADSHEET_ID
      - HOST_HOSTNAME
      - HTTP_PROXY_IP
      - HTTP_PROXY_PORT
